@tailwind base;
@tailwind components;
@tailwind utilities;

.banner {
  height: 500px;
  background-image: url("https://i1040.photobucket.com/albums/b406/purpleswag/homepage-background-images-211_zpshfprzfbh.jpg");
  background-position: center;
  /* background-size: contain; */
  background-repeat: no-repeat;
  width: 100%;
}
/* 
.create {
  height: 500px;
  background-image: url("https://st3.depositphotos.com/3268541/16034/v/450/depositphotos_160348548-stock-illustration-blogging-round-colorful-vector-illustration.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
} */